body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #342056; /* Loyihaning asosiy fon rangi */
  color: #f0f0f0; /* Matn rangi */
}

.wrapper {
  background: #220e24; /* Kartaning fon rangi */
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 1600px;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #639cd9; /* Matnning asosiy rangi */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  text-align: center;
}

.coin_image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#score-board {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #639cd9; /* Asosiy matn rangi */
  display: flex;
  align-items: center;
  justify-content: center;
}

#action-button {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border: none;
  background-color: #5454c5; /* Tugma uchun fon rangi */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Tugmaga soyali effekt */
}

#action-button img {
  width: 70%;
  height: auto;
  position: relative;
  bottom: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#action-button:hover {
  background-color: #639cd9; /* Hover effekti uchun tugma rangi */
}

#action-button:focus,
#action-button:active {
  outline: none;
  box-shadow: 0 4px 15px rgba(99, 156, 217, 0.8); /* Bosganda tugma effekt */
}

#action-button {
  -webkit-tap-highlight-color: transparent; /* Mobil qurilmalardagi bosish effekti */
}

#animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.number {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #4caf50;
  animation: move-up 1s ease-out forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}